{% extends "Collecteapp/ajouter.html" %}

{% block title %}
Ajouter un nouveau Donnees
{% endblock %}

{% block subtitle %}
<h2> Ajouter un nouveau Donnees </h2>
{% endblock %}

{% block form %}
    {% csrf_token %}
    <div class="form-group">
        <label for="date">Date de Sortie:</label>
        <input type="date" name="date" id="date" required>
    </div>
    <div class="form-group">
        <label for="heure">Heure:</label>
        {{ form.time }}
    </div>
    <div class="form-group">
        <label for="temps">Température :</label>
        {{ form.temps }}
    </div>
    <div class="form-group">
        <label for="capteur">ID du Capteur:</label>
        {{ form.id_capteur }}
        </div>
{% endblock %}

