{% extends "main.html" %}

{% block title %}
    Confirmation
{% endblock %}

{% block content %}
    <div class="container-conf">
        <h2>Enregistrement réussi<br><br></h2>
    </div>
    <div class="container-conf">
        <p>Merci, les données ont été enregistrées avec succès dans la base de données.<br><br></p>
    </div>
    <div class="container-conf">
        <form>
            <div class="confirmation-buttons">
                <a href="/Collecteapp/Donnees/liste_donnees/" class="btn-i">Retour</a>
            </div>
        </form>
    </div>
{% endblock %}