{% extends "Collecteapp/liste.html" %}

{% block title %}
    Liste des données
{% endblock %}

{% block content %}
    <h1>Liste des données</h1>
    <form method="POST" action="{% url 'liste_dates' %}">
        {% csrf_token %}
        <label for="date_start">Date de début :</label>
        <input type="text" name="date_start" placeholder="jj/mm/aaaa" required>
        <label for="heure_start">Heure de début :</label>
        <input type="text" name="heure_start" placeholder="hh:mm:ss" required>
        <label for="date_end">Date de fin :</label>
        <input type="text" name="date_end" placeholder="jj/mm/aaaa" required>
        <label for="heure_end">Heure de fin :</label>
        <input type="text" name="heure_end" placeholder="hh:mm:ss" required>
        <button type="submit">Afficher les données</button>
    </form>

    {% if donnees %}
        <h2>Données pour la période : {{ datetime_start|date:'d/m/Y H:i:s' }} - {{ datetime_end|date:'d/m/Y H:i:s' }}</h2>
        <ul>
            {% for donnee in donnees %}
                <li>ID Capteur: {{ donnee.id_capteur.id_capteur }} - Date: {{ donnee.date }} - Heure: {{ donnee.time }} - Température: {{ donnee.temps }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>Pas de données disponibles</h2>
        <p>Il n'y a pas d'informations disponibles pour cette période.</p>
    {% endif %}
{% endblock %}
