{% extends "Collecteapp/liste.html" %}

{% block title %}
Liste des Donnees du capteur
{% endblock %}

{% block content %}
<script>
    setInterval(function() {
    location.reload();
    }, 10000);
</script>
<div>
    <div class="btn-bb">
        <a href="/Collecteapp/Donnees/ajouter_donnees/" class="btn-ajout"
    ><input type="submit" value="Ajouter des données"\></a
  >
  <a href="/Collecteapp/Donnees/liste_dates/" class="btn-bb"
    ><input type="submit" value="Filtre par Date et Heure"\></a
  >
  <a href="/Collecteapp/Donnees/filtre_capteur/" class="btn-bb"
    ><input type="submit" value="Filtre par Capteur"\></a
  >
  <a href="/Collecteapp/Donnees/filtre_donnees/" class="btn-bb"
    ><input type="submit" value="Filtre les Données"\></a
  >
  <a href="/Collecteapp/Donnees/csv/" class="btn-bb"
    ><input type="submit" value="Génération d'un CSV"\></a
  >
  <a href="/Collecteapp/Donnees/supprimer_toutes_donnees/" class="btn-bb"
    ><input type="submit" value="Supprimer toutes les Donnees"\></a
  >
    </div>
    
    <div>
        <table>
            <caption>Liste des Données</caption>
            <thead>
                <tr>
                    <th scope="col">Heure</th>
                    <th scope="col">Jour</th>
                    <th scope="col">Température</th>
                    <th scope="col">Nom du Capteur</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for donnee in donnees %}
                <tr>
                    <td>{{ donnee.date }}</td>
                    <td>{{ donnee.time }}</td>
                    <td>{{ donnee.temps }}</td>
                    <td>{{ donnee.id_capteur.id_capteur }}</td>
                    <td>
                        <form>
                            <a href="/Collecteapp/Donnees/modifier_donnees/{{donnee.id}}/"
                                class="btn-modifier">Modifier</a>
                            <a href="/Collecteapp/Donnees/supprimer_donnees/{{donnee.id}}/"
                                class="btn-supprimer">Supprimer</a>
                        </form>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">Aucune donnée enregistrée.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
