{% extends "Collecteapp/liste.html" %}

{% block title %}
    Liste des Donnees du capteur
{% endblock %}

{% block content %}
<script>
    // Fonction pour rafraîchir la page
    function rafraichirPage() {
        location.reload(); // Rafraîchit la page actuelle
    }

    // Rafraîchir la page toutes les 5 secondes (5000 millisecondes)
    setInterval(rafraichirPage, 5000);
</script>
<div class="container-listcap">
    <a href="/Collecteapp/Donnees/ajouter_donnees/" class="btn-ajout">Ajouter des données</a>
    <a href="/Collecteapp/Donnees/liste_dates/" class="btn-ajout">Filtre par Date et Heure</a>
    <a href="/Collecteapp/Donnees/filtre_capteur/" class="btn-ajout">Filtre par Capteur</a>
    <a href="/Collecteapp/Donnees/filtre_donnees/" class="btn-ajout">Filtre les Donnees</a>
    <table>
        <caption>Liste des Donnees</caption>
        <thead>
            <tr>
                <th scope="col">Heure</th>
                <th scope="col">Jour</th>
                <th scope="col">Température</th>
                <th scope="col">Nom du Capteur</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for donnes in donnees %}
                <tr>
                    <td>{{ donnes.date }}</td>
                    <td>{{ donnes.time }}</td>
                    <td>{{ donnes.temps }}</td>
                    <td>{{ donnes.id_capteur.id_capteur }}</td>
                    <td>
                        <form>
                          <a href="/Collecteapp/Donnees/modifier_donnees/{{donnes.id}}/"class="btn-modifier">Modifier</a>
                          <a href="/Collecteapp/Donnees/supprimer_donnees/{{donnes.id}}/"class="btn-supprimer">Supprimer</a>
                        </form>
                      </td>
                </tr>
            {% empty %}
            <tr>
                <td colspan="2">Aucunne Donnees enregistré.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}