{% extends "main.html" %}

{% block title %}
    Graphique en temps Réel du Capteur
{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body, html {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #graphique-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        canvas {
            max-width: 800px;
            max-height: 100%;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div id="graphique-container">
        <canvas id="graphique"></canvas>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const ctx = document.getElementById('graphique').getContext('2d');
            let graphique;

            // Récupérer les données du contexte Django
            const dates = JSON.parse('{{ date|safe }}');
            const time = JSON.parse('{{ time|safe }}');
            const temps = JSON.parse('{{ temps|safe }}');

            console.log('Dates:', dates);
            console.log('Heures:', time);
            console.log('Températures:', temps);

            // Filtrer les dix dernières valeurs lors de l'initialisation du graphique
            const dernieresDates = dates.slice(-10);
            const dernieresHeures = time.slice(-10);
            const dernieresTemperatures = temps.slice(-10);

            // Initialiser le graphique avec les données filtrées
            function initialiserGraphique() {
                graphique = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: dernieresDates.map((date, index) => date + ' ' + dernieresHeures[index]),  // Concaténer la date et l'heure
                        datasets: [{
                            label: 'Température',
                            data: dernieresTemperatures,
                            fill: false,
                            borderColor: 'blue',
                            tension: 0.1,
                            showLine: true
                        }]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        scales: {
                            x: {
                                display: true,
                                title: {
                                    display: true,
                                    text: 'Date et Heure'  // Modifier le titre de l'axe X
                                }
                            },
                            y: {
                                display: true,
                                title: {
                                    display: true,
                                    text: 'Température'
                                }
                            }
                        }
                    }
                });
            }

            // Mettre à jour les données du graphique
            function mettreAJourGraphique() {
                console.log('Mise à jour du graphique');

                // Effectuer une requête AJAX pour récupérer les nouvelles données depuis le serveur
                fetch('/api/models/')
                    .then(response => response.json())
                    .then(data => {
                        console.log('Données récupérées:', data);

                        const nouvellesDates = data.map(entry => entry.date + ' ' + entry.time);  // Concaténer la date et l'heure
                        const nouvellesTemperatures = data.map(entry => entry.temps);

                        // Vérifier si le nombre de nouvelles données est supérieur à dix
                        if (nouvellesDates.length > 10) {
                            // Filtrer les dix dernières valeurs
                            const dernieresDates = nouvellesDates.slice(-10);
                            const dernieresTemperatures = nouvellesTemperatures.slice(-10);

                            // Mettre à jour les labels et les données du graphique avec les dix dernières valeurs
                            graphique.data.labels = dernieresDates;
                            graphique.data.datasets[0].data = dernieresTemperatures;
                        } else {
                            // Mettre à jour les labels et les données du graphique avec toutes les nouvelles valeurs
                            graphique.data.labels = nouvellesDates;
                            graphique.data.datasets[0].data = nouvellesTemperatures;
                        }

                        // Mettre à jour le graphique
                        graphique.update();
                    })
                    .catch(error => console.error('Erreur lors du chargement des données:', error));
            }



            // Initialiser le graphique
            initialiserGraphique();

            // Mettre à jour les données du graphique toutes les 5 secondes
            setInterval(mettreAJourGraphique, 5000);
        });
    </script>
</body>
{% endblock %}

