{% extends "Collecteapp/liste.html" %}

{% block title %}
    Affichage graphique des données
{% endblock %}


{% block content %}
    <h1>Affichage graphique des données</h1>
    <form method="POST" action="{% url 'graphique' %}">
        {% csrf_token %}
        {{ form.date }}
        {{ form.id_capteur }}
        <button type="submit">Afficher le graphique</button>
    </form>

    {% if chart_image %}
        <img src="{{ graphique }}" alt="Graphique des données">
    {% endif %}
{% endblock %}

