<!DOCTYPE html>
<html lang="fr">

<head>
    {% block css %}
    {% endblock %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%static '/G7App/index.css'%}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<body>
    <header>
        {% block header%}
            <h1>Interface de la Récupération de Donnees</h1>
        {% endblock %}
    </header>
    
    {% block sidebar %}
        <nav>
            <ul>
                <li><a href="/Collecteapp/index">Accueil</a></li>
                <li><a href="/Collecteapp/Capteur/liste_capteur">Capteur</a></li>
                <li><a href="/Collecteapp/Donnes/liste">Liste</a></li>
            </ul>
          </nav>
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block content2 %}
    {% endblock %}

</body>

</html>