{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'Collecteapp/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
</head>
<body>
    <h1 style="color: white; text-align: center; font-weight: bold; font-size: 48px; margin-top: 3%; margin-bottom: 3%;">RECUPERATION DE DONNEES</h1>

    <div id="navbar">
        <ul><h2>
            <li><a href="/Collecteapp/">Menu</a>
            <li><a href="/Collecteapp/Capteur/liste_capteur">Liste Capteur</a>
            <li><a href="/Collecteapp/Donnees/liste_donnees">Liste Données</a>
            <li><a href="/Collecteapp/graphique/">Graphique</a> 
            </h2>
        </ul>
    </div>



    {% block content %}
    <div class="container">
        <a href="/Collecteapp/Capteur/ajouter_capteur" class="card-wrap">
        <div class="card">
            <div class="card-bg" style="background-image: url('/static/image/1.png')"></div>
            <div class="card-info">
            <h2>Ajout de capteur</h2>
            </div>
        </div>
        </a>
        
        <a href="/Collecteapp/Donnees/ajouter_donnees/" class="card-wrap">
        <div class="card">
            <div class="card-bg" style="background-image: url('/static/image/sae24.1.png')"></div>
            <div class="card-info">
                <h2>Ajout de donnée</h2>
            </div>
        </div>
        </a>
    </div>

    {% endblock %}

    {% block content2 %}
    {% endblock %}

    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script  src="{% static 'Collecteapp/script.js' %}"></script>
</body>
</html>
