{% extends "Collecteapp/liste.html" %} 

{% block title %} 
Liste des Informations sur le Capteur 
{% endblock %} 

{% block content %}
<script>
  // Fonction pour rafraîchir la page
  function rafraichirPage() {
      location.reload(); // Rafraîchit la page actuelle
  }

  // Rafraîchir la page toutes les 5 secondes (25000 millisecondes)
  setInterval(rafraichirPage, 5000);
</script>
<div class="container-listcap">
  <a href="/Collecteapp/Capteur/ajouter_capteur" class="btn-bb1"
    ><input type="submit" value="Ajouter un nouveau Capteur"\></a
  >
  <table>
    <caption>Liste des Informations sur le Capteur</caption>
    <thead>
      <tr>
        <th scope="col">ID du Capteur</th>
        <th scope="col">Piece</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for capteur in capteurs %}
      <tr>
        <td data-th="ID du Capteur">{{ capteur.id_capteur }}</td>
        <td data-th="Piece">{{ capteur.piece }}</td>
        <td data-th="Actions">
          <form>
            <a
              href="/Collecteapp/Capteur/modifier_capteur/{{ capteur.id_capteur }}/"
              class="btn-modifier"
              >Modifier</a
            >
            <a
              href="/Collecteapp/Capteur/supprimer_capteur/{{ capteur.id_capteur }}/"
              class="btn-supprimer"
              >Supprimer</a
            >
          </form>
        </td>
      </tr>
      {% empty %}
    </tbody>
  </table>
 
  <tr>
      <td colspan="2">Aucune Information sur le Capteur enregistré.</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
