{% extends "Collecteapp/liste.html" %}

{% block title %}
    Liste des Informations sur le Capteur
{% endblock %}


{% block content %}
    <div class="container">
        <h2>Liste des Informations sur le Capteur</h2>
        <table>
            <thead>
                <tr>
                    <th>ID du Capteur</th>
                    <th>Piece</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for capteur in capteurs %}
                <tr>
                    <td>{{ capteur.nom_capteur }}</td>
                    <td>{{ capteur.piece }}</td>
                    <td>
                    <form>
                        <a href="/Collecteapp/Capteur/modifier_capteur/{{capteur.id}}/" class="btn-modifier">Modifier</a>
                    </form>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2">Aucune Information sur le Capteur enregistré.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}