{% extends "Collecteapp/modifier.html" %}

{% block content %}
    <form id="msform" method="post" enctype="multipart/form-data">
        <fieldset>
            <h2 class="fs-title">Modifier les informations du Capteur "{{ capteur.id_capteur }}"</h2>
            {% csrf_token %}
            {{ form.piece.label_tag }}
            {{ form.piece }}
            <br><br>
            <button type="submit" class="btn-i">Modifier</button>
            <a href="/Collecteapp/Capteur/liste_capteur/" class="btn-ii">Annuler</a>
        </fieldset>
    </form>
{% endblock %}
