{% extends "Collecteapp/supprimer.html" %}

{% block content %}
    <div class="container-conf">
        <h2>Supprimer le Capteur<br><br></h2>
    </div>
    <div class="container-conf">
        <p>Voulez-vous vraiment supprimer le Capteur "{{capteurs.id_capteur}}" ?<br><br></p>
    </div>
    <div class="container-conf">
        <form>
            <div class="confirmation-buttons">
                <a href="/Collecteapp/Capteur/supprimer_confirm_capteur/{{capteurs.id_capteur}}/" class="btn-i">Confirmer la suppression</a>
                <a href="/Collecteapp/Capteur/liste_capteur/" class="btn-ii">Annuler</a>
            </div>
        </form>
    </div>
{% endblock %}